<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mcommerce</title>

<link rel="stylesheet" type="text/css" href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


	<div class="container">

		<h1 class="text-center">Application Mcommerce</h1>
		
			<div class="jumbotron">
	
			<h1 class="text-center">Exercice 2</h1>
	
			<p class="text-center">
				Commande N° <span th:text="${expedition.idCommande}"></span>
			</p>
	
			<div class="text-center" th:switch="${expedition.etat}">
				<span th:case="'0'">En préparation</span>
				<span style="color:orange" th:case="'1'">Expédiée</span>
				<span style="color:green" th:case="*">Livrée</span>
			</div>
		
		</div>

	</div>


	<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>